{% for tenant in tenants %}
{{ tenant.domain }} {
    reverse_proxy frontend-{{ tenant.name }}:{{ tenant.port }}
}

{% endfor %}
{{ supabase_api_domain }} {
    handle /rest/v1/* {
        reverse_proxy kong:8000
    }

    handle /auth/v1/* {
        reverse_proxy kong:8000
    }

    handle /realtime/v1/* {
        reverse_proxy kong:8000
    }

    handle /storage/v1/* {
        reverse_proxy kong:8000
    }

    handle /functions/v1/* {
        reverse_proxy kong:8000
    }
}

{{ supabase_studio_domain }} {
    basic_auth {
        {{ vault_studio_user }} {{ vault_studio_password_hash }}
    }
    reverse_proxy studio:3000
}
