server_name = {{ luanti_server_name }}
server_description = {{ luanti_server_description }}
server_address = play.jimr.fyi
server_port = 30000
server_announce = false
max_users = {{ luanti_max_players }}

default_game = mineclonia
motd = {{ luanti_motd }}

creative_mode = false
enable_damage = true
enable_pvp = {{ luanti_enable_pvp | lower }}

default_privs = interact, shout
enable_rollback_recording = true

max_block_send_distance = 12
max_simultaneous_block_sends_per_client = 10
server_map_save_interval = 15

strict_protocol_checking = false
remote_media =

protector_radius = 7
protector_pvp = true
protector_spawn = 1
protector_spawn_radius = 25
